h2 {
  position: absolute;
  width: 221px;
  height: 54px;
  left: 291px;
  top: 1007px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;

  color: rgba(255, 255, 255, 0.8);
}
